extends layout

block content
    h1=title
    h2 Welcome to #{title}
    form(method="post" action="/results")
        h3="Name"
        input(type="text" name="Name")
        </br>
        h3="Email"
        input(type="text" name="Email")
        </br>
        h3="Comments"
        <textarea cols="50" rows="4" name="Comments"></textarea>
        </br></br>
        input(type="submit")
        </br></br></br>
        a(href="/") INDEX PAGE </br>
        a(href="/form") FORM PAGE </br>
        a(href="/about") ABOUT PAGE
